.CardRow{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.CardColumn{
    flex: 30%;
    margin-bottom: 50px;
}
.star_bar{
    float: left;
    padding-left: 125px;
    padding-right: 50px;
}