td{
    width: 150px;
    color: blue;
}

#overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

#header_image:hover #overlay{
    opacity: 0.7;
}

#header_text{
    color: white;
    font-size: 48px;
    text-align: center;
}

#header_image .header_image{
    background-size: contain|cover;
    width: 100%;
    height: auto;
}

#profile{
    text-align:center;
}

.my_photo{
    width: 150px;
    height: auto;
}

hr{
    height: 3px;
    width:400px;
    border: 0;
    background-color: black;
}

#project1{
    text-align: center;
    width: 680px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#project1_image{
    float: left;
    width: 320px;
}

#project1_text{
    float: left;
    width: 320px;
    text-align: left;
    margin-left: 40px;
}
.project1_image{
    width: 320px;
    height: auto;
}

#my_photos{
    width: 800px;
    left: 0;
    right: 0;
    margin: 240px auto 0;
}

.my_photos{
    width: 320px;
    height: auto;
}